{% extends "layout/layout.html.j2" %}

{% block content %}
{% include 'layout/navbar.html.j2' %}
<div class="container">
    <div class="row">
        <div class="alert alert-light" role="alert">
            Query: {{ query_katas | map(attribute='kata') | join(' ') }}</br>
            Kode Fonetis Query: {{ query_katas | map(attribute='phonetic_code') | join(' ') }}
        </div>
        <table id="tbl-queries" class="mb-3">
            <thead>
                <tr>
                    <th>Surat</th>
                    <th>Ayat</th>
                    <th>Kata ke</th>
                    <th>Isi</th>
                    <th>Similarity</th>
                    <th>Ke Surat</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td style="text-align: center;">QS:{{ result.surat_id }} - {{ result.surat }}</td>
                    <td style="text-align: center;">{{ result.ayat }}</td>
                    <td style="text-align: center;">{{ result.index }}</td>
                    <td style="text-align: center;">{{ result.kata|lower }}</td>
                    <td style="text-align: center;">{{ result.similarity }}%</td>
                    <td style="text-align: center;">
                        <a class="btn btn-primary" href="{{ url_for('router_surat.surat', id = result.id) }}">
                            <i class="bi bi-search"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'layout/footer.html.j2' %}
</div>
<script>
    $(document).ready( function () {
        $('#tbl-queries').DataTable({
            order: [[4, 'desc'], [0, 'asc'], [1, 'asc'], [2, 'asc']],
            ordering: true,
            columnDefs: [ 
                {
                    targets: [0, 1, 2, 3, 4, 5],
                    orderable: false
                }
            ]
        });
    });
</script>
{% endblock %}