{% extends "layout/layout.html.j2" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center h-100">
    <div class="container">
        <div class="row">
            <div class="col-3 col-sm-0"></div>
            <img class="col-md-6 col-sm-12 px-5" src="{{ url_for('static', filename='images/quran.png') }}" alt="Cari Ayat Logo">
            <div class="col-3"></div>
        </div>
        <div id="search-section" class="row container mt-3">
            <div class="col-sm-10 col-9">
                <input type="text" id="search-field" class="search-field" placeholder="Ketik Potongan Ayat...">
            </div>
            <div class="col-sm-2 col-3">
                <button id="search-button" type="button" class="btn btn-primary">Cari</button>
            </div>
            <div id="search-alert" class="alert alert-danger my-5" role="alert" style="display: none;">
                Potongan ayat tidak boleh kosong
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col">
                <b>Fitur Lainnya</b><br>
                <a href="{{ url_for('router_surat.surats') }}" class="btn btn-primary">
                    Daftar Surat
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    function getQuery() {
        if ($("#search-field").val().length == 0) {
            $("#search-alert").show();
        } else {
            console.log($("#search-field").val());
            window.location.href = "{{ url_for('router_home.index')}}ayat/query/" + $("#search-field").val();
        }
    }

    $(document).ready(function() {
        $("#search-button").click(getQuery);

        $('#search-field').keyup(function (e) {
            if (e.which == 13) {
                e.preventDefault();
                getQuery();
                return false;
            }
        });
    });
</script>
{% endblock %}