
<div class="row text-center mt-5">
    <div class="col">
        <b>Fitur Lainnya</b><br>
        <a href="{{ url_for('router_surat.surats') }}" class="btn btn-primary">
            Daftar Surat
        </a>
    </div>
</div>