<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>{{ title|safe }} | Cari Ayat</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/ico">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="cari,ayat,quran,soundex" />
    <meta name="description" content="{{ description|safe }}" />
    <meta property="og:description" content="{{ description|safe }}" />
    <meta property="og:site_name" content="Cari Ayat" />
        
    <!-- BOOT STRAP -->
    <link href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-icons-1.10.2/bootstrap-icons.css') }}">
    <!--   DATATABLES   -->
    <link href="{{ url_for('static', filename='styles/datatables.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/datatables.buttons.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/datatables-theme.css') }}" type="text/css" rel="stylesheet">
    <!-- CARI AYAT -->
    <link href="{{ url_for('static', filename='styles/style.css') }}" type="text/css" rel="stylesheet">
        
    <!-- SCRIPTS -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap.bundle.min.js') }}"></script>
    <!--   DATATABLES   -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/DataTables/datatables.min.js') }}"></script>
</head>

<body>
    {% block content %}
    {% endblock %}
</body>
</html>