
<nav class="navbar sticky-top py-5">
    <div class="container-md">
        <a class="navbar-brand" href="{{ url_for('router_home.index')}}">
            <img src="{{ url_for('static', filename='images/quran.png') }}" height="75" alt="Cari Ayat Logo">
        </a>
        <form class="d-flex" role="search">
            <input id="search-field" class="form-control me-2" type="search" placeholder="Ketik Potongan Ayat..." aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
</nav>