
<nav class="navbar py-5">
    <div class="container-md">
        <a class="navbar-brand" href="{{ url_for('router_home.index')}}">
            <img src="{{ url_for('static', filename='images/quran.png') }}" height="75" alt="Cari Ayat Logo">
        </a>
        <div class="d-flex">
            <input id="nav-search-field" class="form-control me-2 search-field" placeholder="Ketik Potongan Ayat..." aria-label="Search">
            <div id="nav-search-btn" class="btn btn-primary">Search</div>
            <div id="nav-search-alert" class="ps-3" role="alert" style="display: none;">
                Potongan ayat tidak boleh kosong
            </div>
        </div>
    </div>
    <script>
        function getQuery() {
            if ($("#nav-search-field").val().length == 0) {
                $("#nav-search-alert").show();
            } else {
                window.location.href = "/ayat/query/" + $("#nav-search-field").val();
            }
        }

        $(document).ready(function() {
            $("#nav-search-btn").click(getQuery);

            $('#nav-search-field').keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    getQuery();
                    return false;
                }
            });
        });
    </script>
</nav>