{% extends "layout/layout.html" %}

{% block content %}
{% include 'layout/navbar.html' %}
<div class="container">
    <div class="row">
        <table id="tbl-ayats" class="mb-3">
            <thead>
                <tr>
                    <th>Surat</th>
                    <th>Ayat</th>
                    <th>Isi</th>
                    <th>Ke Ayat</th>
                </tr>
            </thead>
            <tbody>
                {% for ayat in surat.ayats %}
                <tr>
                    <td style="text-align: center;">{{ ayat.surat.surat }}</td>
                    <td style="text-align: center;">{{ ayat.id }}</td>
                    <td style="text-align: right;">
                        <h2 class="text-primary">{{ ayat.ayat_arab }}</h2>
                        <span>{{ ayat.ayat_latin }}</span>
                    </td>
                    <td style="text-align: center;">
                        <a class="btn btn-primary" href="{{ url_for('router_surat.surat', id = surat.id) }}">
                            <i class="bi bi-search"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'layout/footer.html' %}
</div>
<script>
    $(document).ready( function () {
        $('#tbl-ayats').DataTable({
            order: [[0, 'asc']],
            ordering: false
        });
    });
</script>
{% endblock %}